<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Shows do dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <h3>Muca LOL</h3>
  <img src="assets/icon/liquegas.jpg" alt="300">
  <h4>BOA NOITE, GOSTARIA DE UM ENCONTRO ROMANTICO ?</h4>
  <p>Elenco: MucaLOL e macacos</p>
  <p>Local: nimo TV</p>
  <p>Horario: 20:00 22:00</p>
  <br>
  <div style="position: center">
    <ion-button [routerLink]="['/participar']" target="_blank">Participar</ion-button>
    <img src="assets/icon/participar2.jpg" width="45" style="position:relative; top:24px">
  </div>
</ion-card>
<br><br><br><br>
</ion-content>
