<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Página de alertaaaaa</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-label>Superman</ion-label>
      <ion-button expand="block" color="secondary" (click)="edit()">Edit User</ion-button>
      <ion-button expand="block" color="secondary" (click)="remove()">Remover User</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Ficou</ion-label>
      <ion-button expand="block" color="secondary" (click)="edit()">Edit User</ion-button>
      <ion-button expand="block" color="secondary" (click)="remove()">Remover User</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Fraco</ion-label>
      <ion-button expand="block" color="secondary" (click)="edit()">Edit User</ion-button>
      <ion-button expand="block" color="secondary" (click)="remove()">Remover User</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>O pinguim</ion-label>
      <ion-button expand="block" color="secondary" (click)="edit()">Edit User</ion-button>
      <ion-button expand="block" color="secondary" (click)="remove()">Remover User</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>jogou criptonita</ion-label>
      <ion-button expand="block" color="secondary" (click)="edit()">Edit User</ion-button>
      <ion-button expand="block" color="secondary" (click)="remove()">Remover User</ion-button>
    </ion-item>
  </ion-list>
</ion-header>
<ion-contend>
  
  <ion-button expand="block" color="secondary" (click)="add()">Add User</ion-button>
  
  
</ion-contend>
