<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
       <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pagina de action-sheet</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-label>Superman</ion-label>
      <ion-button expand="block" color="secondary" (click)="actionsheet()"><ion-icon name="alert"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Ficou</ion-label>
      <ion-button expand="block" color="secondary" (click)="actionsheet()"><ion-icon name="alert"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Fraco</ion-label>
      <ion-button expand="block" color="secondary" (click)="actionsheet()"><ion-icon name="alert"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-label>O pinguim</ion-label>
      <ion-button expand="block" color="secondary" (click)="actionsheet()"><ion-icon name="alert"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-label>jogou criptonita</ion-label>
      <ion-button expand="block" color="secondary" (click)="actionsheet()"><ion-icon name="alert"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>

</ion-content>
