<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Blocos quebrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Pedra</ion-label>
    <ion-badge>2223</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Grama</ion-label>
    <ion-badge>26229</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Folha</ion-label>
    <ion-badge>26131529</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Minerio de ferro</ion-label>
    <ion-badge>265129</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Chunks</ion-label>
    <ion-badge>26529</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Players</ion-label>
    <ion-badge>265429</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Lag</ion-label>
    <ion-badge>265529</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>ping</ion-label>
    <ion-badge>266529</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>madeira</ion-label>
    <ion-badge>276529</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>obsidiana</ion-label>
    <ion-badge>286529</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>TerraCota</ion-label>
    <ion-badge>26529</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Trilho</ion-label>
    <ion-badge>296529</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Redstone</ion-label>
    <ion-badge>26529</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Observer</ion-label>
    <ion-badge>206529</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Cobalto</ion-label>
    <ion-badge>265219</ion-badge>
  </ion-item>

</ion-content>
